<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartkids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartKids">
        <activity android:name=".DesStroberi"></activity>
        <activity android:name=".DesSemangka" />
        <activity android:name=".DesPisang" />
        <activity android:name=".DesPir" />
        <activity android:name=".DesNanas" />
        <activity android:name=".DesLemon" />
        <activity android:name=".DesKiwi" />
        <activity android:name=".DesAnggur" />
        <activity android:name=".DesSinga" />
        <activity android:name=".DesSapi" />
        <activity android:name=".DesKuda" />
        <activity android:name=".DesKelinci" />
        <activity android:name=".DesBuaya" />
        <activity android:name=".DesBeruang" />
        <activity android:name=".DesBebek" />
        <activity android:name=".DesAyam" />
        <activity android:name=".Selesai" />
        <activity android:name=".Buah" />
        <activity android:name=".Hewan" />
        <activity android:name=".Angka" />
        <activity android:name=".Huruf" />
        <activity android:name=".MulaiBuah" />
        <activity android:name=".MulaiHewan" />
        <activity android:name=".MulaiAngka" />
        <activity android:name=".MulaiHuruf" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>